<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Google Icon -->
    <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <title>Hello, world!</title>

    <style>
        .box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .feed_box {
            margin: 20px 0;
            border: solid 1px gray;
            background-color: white
        }

        .modal_overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
            z-index: 10000;
        }

        .modal_window {
            background: white;
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 800px;
            height: 600px;
            position: relative;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline"> <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png" width="120px" , > </span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0">
                                <svg xmlns="http://www.w3.org/2000/svg"  style="margin-left: 6px" width="20" height="20" fill="black" class="bi bi-house-door-fill" viewBox="0 0 16 16">
  <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
</svg>
                                <i class="bi bi-house"></i> <span class="ms-1 d-none d-sm-inline" style="color: black" >
                                <strong>Home</strong></span>
                                
                            </a>
                        </li>
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <svg xmlns="http://www.w3.org/2000/svg"  style="margin-left: 6px"width="20" height="20"  fill="black" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg><i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline" style="color: black"><strong>Search</strong></span> </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 6px" width="20" height="20" fill="black" class="bi bi-compass" viewBox="0 0 16 16">
  <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016m6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0"/>
  <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z"/>
</svg><i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline" style="color: black"><strong>Explore</strong></span></a>
                        </li>
                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 6px" width="20" height="20" fill="black" class="bi bi-film" viewBox="0 0 16 16">
  <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm4 0v6h8V1zm8 8H4v6h8zM1 1v2h2V1zm2 3H1v2h2zM1 7v2h2V7zm2 3H1v2h2zm-2 3v2h2v-2zM15 1h-2v2h2zm-2 3v2h2V4zm2 3h-2v2h2zm-2 3v2h2v-2zm2 3h-2v2h2z"/>
</svg><i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline" style="color: black"><strong>Reels</strong></span></a>
                            
                        </li>
                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 6px" width="20" height="20" fill="black" class="bi bi-send" viewBox="0 0 16 16">
  <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
</svg><i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline" style="color: black"><strong>Messages</strong></span> </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 6px" width="20" height="20" fill="black" class="bi bi-heart" viewBox="0 0 16 16">
  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
</svg><i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline" style="color: black"><strong>Notifications</strong></span> </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 6px" width="20" height="20" fill="black" class="bi bi-plus-square" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
</svg><i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline" style="color: black"  ><strong>Create</strong></span> </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline" style="color: black"><img src="https://i.pinimg.com/474x/66/98/9b/66989b83569db34144604454034bc1fe.jpg" alt="hugenerd" width="25" height="25" class="rounded-circle" style="margin-right: 8px"><strong>Profile</strong></span></a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            
                            <svg xmlns="http://www.w3.org/2000/svg"  style="margin-left: 7px" width="20" height="20" fill="black" class="bi bi-three-dots" viewBox="0 0 16 16">
  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
</svg><span class="d-none d-sm-inline mx-1" style="color: black"><strong>More</strong></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">Setting</a></li>
                            <li><a class="dropdown-item" href="#">Your activity</a></li>
                            <li><a class="dropdown-item" href="#">Saved</a></li>
                            <li><a class="dropdown-item" href="#">Switch appearance</a></li>
                            <li><a class="dropdown-item" href="#">Report a problem</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Threads</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Switch Accounts</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: row;text-align: center; justify-content: center;padding-top: 60px; background-color:#FAFAFA">
    <div style="width: 500px;min-width: 500px;margin-right: 300px">

        <!-- feed box -->
        {% for feed in feeds %}
            <div class="feed_box">
                <div style="display: flex;flex-direction: row; align-items: center; margin: 20px">
                    <div class="box" style="width: 35px; height: 35px">
                        <img class="profile"
                             src="{% get_media_prefix %}{{ feed.profile_image }}">
                    </div>
                    <div>
                        {{ feed.nickname }}
                    </div>
                </div>

                <div><img style="width: 100%"
                          src="{% get_media_prefix %}{{ feed.image }}">
                </div>
                <div style="margin: 0 20px;display: flex; flex-direction: row; justify-content: space-between">
                    <div>
                        <span id="favorite_{{ feed.id }}" feed_id="{{ feed.id }}"
                              class="favorite material-icons-outlined"
                              style="color: red;cursor: pointer">{% if feed.is_liked %}
                            favorite{% else %}favorite_border{% endif %}</span>
                    </div>
                    <div>
                        <span id="bookmark_{{ feed.id }}" feed_id="{{ feed.id }}" class="bookmark material-icons-outlined" style="cursor: pointer">
                            {% if feed.is_marked %}
                            bookmark
                            {% else %}
                            bookmark_border
                            {% endif %}
                        </span>

                    </div>
                </div>
                <div style="margin: 0 20px;text-align: left;font-size: 14px"> User <b> {{ feed.like_count }}</b>Likes the post
                </div>
                <div style="margin: 0 20px;text-align: left;font-size: 16px">
                    <b>{{ feed.nickname }}</b> {{ feed.content }}
                </div>
                <div id="reply_list_{{ feed.id }}">
                    {% for reply in feed.reply_list %}
                        <div style="margin: 0 20px;text-align: left;font-size: 14px">
                            <b>{{ reply.nickname }}</b> {{ reply.reply_content }}</div>
                    {% endfor %}
                </div>


                <div style="display:flex;flex-direction: row;align-items: center; border-top: solid 1px gray ">
                    <input id="reply_{{ feed.id }}" type="text" class="form-control"
                           style="box-shadow: none; border: none; outline: none"
                           placeholder="Comment..">
                    <div feed_id="{{ feed.id }}" class="upload_reply"
                         style="width: 50px;color: cornflowerblue; font-weight: bold">
                        Post
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- feed box -->
    </div>
    <div style="width: 400px; height: 1000px; position: fixed;left: 62%; z-index: 0">
        <div style="display: flex;flex-direction: row; align-items: center; margin: 20px">
            <div class="box" style="width: 70px; height: 70px">
                <img class="profile"
                     src="{% get_media_prefix %}{{ user.profile_image }}">
            </div>
            <div style="margin-left: 10px; text-align: left">
                <div style="font-weight: bold">
                    {{ user.nickname }}
                </div>
                <div style="color: gray">
                    {{ user.name }}
                </div>
            </div>
        </div>
        <div style="display: flex;flex-direction: row; justify-content: space-between">
            <div style="font-weight: bold; color: gray">
                Suggested for you
            </div>
            <div>
                <a href="#" style="font-weight: bold;color: black;text-decoration: none">See All</a>
            </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="width: 35px; height: 35px">
                    <img class="profile"
                         src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold;font-size: 14px">
                        aaaaaaaaaa
                    </div>
                    <div style="color: gray;font-size: 14px">
                         Code With Me!
                    </div>
                </div>
            </div>

            <div>
                <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">Follow</a>
            </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="width: 35px; height: 35px">
                    <img class="profile"
                         src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold;font-size: 14px">
                        aaaaaaaaaa
                    </div>
                    <div style="color: gray;font-size: 14px">
                        Code With Me!
                    </div>
                </div>
            </div>

            <div>
                <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">Follow</a>
            </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="width: 35px; height: 35px">
                    <img class="profile"
                         src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold;font-size: 14px">
                        aaaaaaaaaa
                    </div>
                    <div style="color: gray;font-size: 14px">
                        Code With Me!
                    </div>
                </div>
            </div>

            <div>
                <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">Follow</a>
            </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="width: 35px; height: 35px">
                    <img class="profile"
                         src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold;font-size: 14px">
                        aaaaaaaaaa
                    </div>
                    <div style="color: gray;font-size: 14px">
                        Code With Me!
                    </div>
                </div>
            </div>

            <div>
                <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">Follow</a>
            </div>
        </div>
        <div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="width: 35px; height: 35px">
                    <img class="profile"
                         src="http://file3.instiz.net/data/file3/2021/05/31/e/b/8/eb8d9ad2d779ca2a0b7acc2b67694a23.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold;font-size: 14px">
                        aaaaaaaaaa
                    </div>
                    <div style="color: gray;font-size: 14px">
                        Code With Me!
                    </div>
                </div>
            </div>

            <div>
                <a href="#" style="font-size: 14px;font-weight: bold;text-decoration: none">Follow</a>
            </div>
        </div>

        <div style="margin-top: 40px;font-size: 12px;color: gray; text-align: left"> About • Help • Press • API • Privacy • Terms<br> Location • Language • Meta Verified
            
        </div>
        <div style="margin-top: 20px;font-size: 12px;color: gray; text-align: left"> ©2024 INSTAGRAM FOR META</div>

    </div>
</div>


<div id="first_modal" class="modal_overlay">
    <div class="modal_window">
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div style="width: 40px; background: gray">

            </div>
            <div>
                Upload New Image
            </div>
            <div style="width: 40px; background: gray">
                <span class="modal_close material-icons-outlined">close</span>
            </div>
        </div>

        <div class="img_upload_space" style="border-top: solid 1px gray;width: 778px; height: 540px;margin-top: 10px">

        </div>
    </div>
</div>


<div id="second_modal" class="modal_overlay">
    <div class="modal_window">
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div style="width: 40px; background: gray">

            </div>
            <div>
                Upload New Image
            </div>
            <div style="width: 40px; background: gray">
                <span class="modal_close material-icons-outlined">close</span>
            </div>
        </div>

        <div style="border-top: solid 1px gray;display: flex; flex-direction: row;margin-top: 10px">
            <div class="img_upload_space" style="width: 500px; height: 540px;">

            </div>
            <div style="border-left: solid 1px gray">
                <div>
                    <textarea id="input_feed_content" class="form-control" style="width: 276px; height: 400px"
                              id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
                <button id="feed_create_button" type="button" class="btn btn-primary" style="width: 100%">
                    Share
                </button>
            </div>

        </div>

    </div>
</div>

        </div>
    </div>



<!-- Optional JavaScript; choose one of the two! -->
<script>

    $(".bookmark").click(function (event) {
        let feed_id = event.target.attributes.getNamedItem('feed_id').value;
        let bookmark_id = event.target.id;
        let bookmark_text = $.trim($('#' + bookmark_id).html());
        if (bookmark_text == 'bookmark') {
            $('#' + bookmark_id).html('bookmark_border');
        } else {
            $('#' + bookmark_id).html('bookmark');
        }

        $.ajax({
            url: "/content/bookmark",
            data: {
                feed_id: feed_id,
                bookmark_text: bookmark_text
            },
            method: "POST",
            success: function (data) {
                console.log("Complete");
            },
            error: function (request, status, error) {
                console.log("Error");
            },
            complete: function () {
                console.log("Done");
            }
        });
    });


    $(".favorite").click(function (event) {
        let feed_id = event.target.attributes.getNamedItem('feed_id').value;
        let favorite_id = event.target.id;
        console.log(favorite_id);
        let favorite_text = $.trim($('#' + favorite_id).html());
        console.log(favorite_text);
        if (favorite_text == 'favorite') {
            $('#' + favorite_id).html('favorite_border');
        } else {
            $('#' + favorite_id).html('favorite');
        }

        $.ajax({
            url: "/content/like",
            data: {
                feed_id: feed_id,
                favorite_text: favorite_text
            },
            method: "POST",
            success: function (data) {
                console.log("Complete");
            },
            error: function (request, status, error) {
                console.log("Error");
            },
            complete: function () {
                console.log("Done");
            }
        });
    });

    $(".upload_reply").click(function (event) {
        let feed_id = event.target.attributes.getNamedItem('feed_id').value;
        let reply_id = 'reply_' + feed_id;
        let reply_content = $('#' + reply_id).val();

        if (reply_content.length <= 0) {
            alert("Enter Comment");
            return 0;
        }

        $.ajax({
            url: "/content/reply",
            data: {
                feed_id: feed_id,
                reply_content: reply_content
            },
            method: "POST",
            success: function (data) {
                console.log("Complete");
                alert("Commented Successfully");
                $("#reply_list_" + feed_id).append("<div style='margin: 0 20px;text-align: left;font-size: 14px'><b>{{ user.nickname }}</b> " + reply_content + "</div>")
                {#location.replace('/main');#}

            },
            error: function (request, status, error) {
                console.log("Error");
            },
            complete: function () {
                console.log("Done");
                $('#' + reply_id).val('');
            }
        });

    });

    $(".modal_close").click(function () {
        $('#first_modal').css({
            display: 'none'
        });
        $('#second_modal').css({
            display: 'none'
        });
    });

    let files;

    $('#nav_bar_add_box').click(function () {
        $('#first_modal').css({
            display: 'flex'
        });

        $(document.body).css({
            overflow: 'hidden'
        });

    });

    $('#feed_create_button').click(function () {
        alert("Pressed Share");

        let file = files[0];
        let image = files[0].name;
        let content = $('#input_feed_content').val();

        let fd = new FormData();

        fd.append('file', file);
        fd.append('image', image);
        fd.append('content', content);

        $.ajax({
            url: "/content/upload",
            data: fd,
            method: "POST",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("Success");
            },
            error: function (request, status, error) {
                console.log("Error");
            },
            complete: function () {
                console.log("Done");
                location.replace("/main");
            }
        });
    });

    $('.img_upload_space')
        .on("dragover", dragOver)
        .on("dragleave", dragOver)
        .on("drop", uploadFiles);

    function dragOver(e) {
        e.stopPropagation();
        e.preventDefault();

        if (e.type == "dragover") {
            $(e.target).css({
                "background-color": "black",
                "outline-offset": "-20px"
            });
        } else {
            $(e.target).css({
                "outline-offset": "-10px"
            });
        }
    }

    function uploadFiles(e) {
        e.stopPropagation();
        e.preventDefault();

        e.dataTransfer = e.originalEvent.dataTransfer; //2
        files = e.target.files || e.dataTransfer.files;
        console.log("file uploaded" + files[0].name);
        if (files.length > 1) {
            alert('only upload one');
            return;
        }

        if (files[0].type.match(/image.*/)) {

            $('#first_modal').css({
                display: 'none'
            });
            $('#second_modal').css({
                display: 'flex'
            });

            $('.img_upload_space').css({
                "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                "outline": "none",
                "background-size": "100%",
                "background-repeat": "no-repeat",
                "background-position": "center"
            });
        } else {
            alert('Not an Image.');
            return;
        }

    }


</script>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>


</html>